.movielist-container {
  height: 700px;
  overflow: auto;
}

.no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}

.no-result img {
  width: 80%;
}

.movie-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.movie-list-page {
  font-size: 14px;
  font-family: 'poppins', sans-serif;
}

.load-more-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more-btn {
  height: 62px;
  width: 209px;
  background: #FC2121;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #F1F1F1;
  border-radius: 10px;
  margin: 40px 0 60px 0;
}

::-webkit-scrollbar {
  display: none;
}