.movie-bookmarks-container {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96vh;
  width: 100vw;
  background-color: #fff;
}

.movie-bookmarks-box {
  background: #fff;
  width: 400px;
  padding: 40px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  margin-top: 2rem;
}

.movie-bookmarks-box p:nth-of-type(1) {
  font-family: 'Poppins';
  font-size: 25px;
  color: #FC2121;
  margin-bottom: 30px;
  font-weight: 900;
}

.movie-bookmarks-box p:nth-of-type(2) {
  font-family: 'Poppins';
  font-size: 20px;
  color: #FC2121;
  margin-bottom: 30px;
  font-weight: 400;
}

.movie-bookmarks-login-btn {
  width: 85%;
  background-color: #FC2121;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}


::-webkit-scrollbar {
  display: none;
}